<div class="photo big">
  <%= link_to root_url do %>
    <%= image_tag @photo.picture.url(:big), :class => 'big' %>
  <% end %>
  <h2>
    &ldquo;<%= @photo.title %>&rdquo;
  </h2>
  <%= redact_email @photo.sender %>
</div>

