<div class="photo big">
  <% if ! @photo.completed? %>
    This picture is still processing, come back in a minute or so.
  <% else %>
    <%= link_to root_url do %>
      <%= image_tag @photo.picture.url(:big), :class => 'big' %>
    <% end %>
    <h2>
      &ldquo;<%= @photo.title %>&rdquo;
    </h2>
    <%= redact_email @photo.sender %>
  <% end %>
</div>
