<div class="about">
  <p>
    This is an email-driven photo gallery.
  </p>
  <p>
    Simply send an email to <%= mail_to @upload_email %> with an attached photo. Use the subject line to set a caption for the picture.
  </p>
  <p class="social">
    <a href="http://stackoverflow.com/users/98057/andr%C3%A9-laszlo">
      <i class="fa fa-stack-overflow"></i>
    </a>
    <a href="https://github.com/andrelaszlo">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://se.linkedin.com/in/andrelaszlo">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://twitter.com/andrelaszlo">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="http://www.laszlo.nu">
      <i class="fa fa-tumblr"></i>
    </a>
  </p>
</div>
